[submodule "libs/open.mp-sdk"]
	path = libs/open.mp-sdk
	url = https://github.com/openmultiplayer/open.mp-sdk
[submodule "libs/samp-ptl"]
	path = libs/samp-ptl
	url = https://github.com/katursis/samp-ptl